body{
    background-color: black;
    color: white;
}

h1{
    padding: 25px;
    
}

#athlete-picture {
    border: 3pt solid gray;
}

#athlete-name{
    font-size: 25px;
}

#directions{
    color: yellow;
}

